#navBar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    font-family: 'Aboreto', cursive;
  }
  .logout-button{
    font-family: 'Aboreto', cursive;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}



  #navBar > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10rem;
  }
  
  #navBar > div a,
  #navBar > div a:visited,
  #navBar > div a:active {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
  }
  
  #navBar > div a:hover {
    opacity: 0.7;
  }
  
  #navBar button {
    border: none;
    background-color: #fff0;
    padding: 0;
    margin: 0;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 2px;
  }
  
  
  img {
    width: 200px;
    display: block;
    margin: auto;
  }
/* 
  .nav-menu {
    /* padding-left: 100px; */

  